<div class="container">
  <mat-toolbar color="accent">
    <span>Novodhi Solutions</span>
  </mat-toolbar>
  <mat-form-field appearance="fill">
    <mat-label>Field variable</mat-label>
    <mat-select>
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div  class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource">

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="data_type">
    <th mat-header-cell *matHeaderCellDef> Data Type </th>
    <td mat-cell *matCellDef="let element"> {{element.data_type}} </td>
  </ng-container>
  <ng-container matColumnDef="last_updated">
    <th mat-header-cell *matHeaderCellDef> Last Updated </th>
    <td mat-cell *matCellDef="let element"> {{element.last_updated}} </td>
  </ng-container>
  <!-- Weight Column -->
  <ng-container matColumnDef="catagory">
    <th mat-header-cell *matHeaderCellDef> Category </th>
    <td mat-cell *matCellDef="let element"> {{element.category}} </td>
  </ng-container>
  <!-- Symbol Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Actions </th>
    <td mat-cell *matCellDef="let element" style="text-align: center;"> <button (click)="openDialog(element)"><mat-icon color="primary" aria-hidden="false" matTooltip="Edit" aria-label="Example create icon" click="">create</mat-icon></button>&nbsp;
      <button  (click)="openview(element)"><mat-icon color="primary"  matTooltip="Show" aria-hidden="false" aria-label="Example view_headline icon">view_headline</mat-icon></button>&nbsp;
      <button ><mat-icon color="primary" aria-hidden="false"  matTooltip="copy" aria-label="Example file_copy icon">file_copy</mat-icon></button>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let element">
      <button (click)="opendelete(element)"><mat-icon color="warn"  matTooltip="Delete" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon></button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
</div>
<div>
  <mat-paginator [pageSizeOptions]="[0,2,4]"showFirstLastButtons labelPosition="bottom"></mat-paginator>

</div>

